@implements IDisposable;

<div style="@Ghost.GetStyle(Ghost.Coordinates)" class=@("ghost " + Ghost.ColorName)>
    <svg class="svg_size">@Ghost.SvgHelper.Ghost</svg>
</div>

@code {

   [Parameter] public IGhost Ghost { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Ghost.OnInitializedAsync();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {        
        await Ghost.OnAfterRenderAsync(firstRender);
        if (firstRender)
            Ghost.OnMoving += (o, e) => InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Ghost.Dispose();
    }
}
