<div class="header">
    <span class="left title">PACMAN</span>
    <span class="right score">SCORE: <span class="points">@SceneHeader.GetPoints()</span></span>
</div>

@code {
   [Parameter] public Pacman.Core.Interfaces.ISceneHeader SceneHeader { get; set; }
}
