@implements IDisposable;

<div style="@Pacman.GetStyle(Pacman.Coordinates)"
     class=@("pacman " + Pacman.GetDirectionClassName())>

    <svg class="svg_size">@Pacman.SvgHelper.Packman</svg>
</div>

@code {

    [Parameter] public Pacman.Core.Interfaces.IPacman Pacman { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Pacman.OnInitializedAsync();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        await Pacman.OnAfterRenderAsync();
        Pacman.OnStateHasChanged += (o, e) => InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Pacman.Dispose();
    }
}
