@inherits UnitComponentBase;

<div style="top: @Coordinates.Top; left: @Coordinates.Left;"
     className=@("pacman " + GetDirectionClassName())>

    <svg>@svgHelper.Packman</svg>
</div>

@code {
    [Parameter] public Looking Direction { get; set; } = Looking.Right;
    [Parameter] public Position Coordinates { get; set; } = new Position { Top = 0, Left = 0 };

    protected async override Task OnInitializedAsync()
    {
        await svgHelper.LoadIconsAsync();
    }

    public string GetDirectionClassName()
    {
        string result;

        switch(Direction)
        {
            case Looking.Up: result = "up"; break;
            case Looking.Left: result = "left"; break;
            case Looking.Right: result = "right"; break;
            default: result = "down"; break;
        }

        return result;
    }
}
